flows_raspberrypi.json
[
    {
        "id": "2a44cced.04dc14",
        "type": "tab",
        "label": "Hem",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c208375a.5070e8",
        "type": "tab",
        "label": "Climate",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0da30667a1d02274",
        "type": "tab",
        "label": "Test ENTSO-E",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b9647c4eba6ade67",
        "type": "subflow",
        "name": "ENTSO-E",
        "info": "# ENTSO-E Transparency Platform RESTful API\r\n\r\nFetches [day-ahead prices](https://transparency.entsoe.eu/transmission-domain/r2/dayAheadPrices/show?name=&defaultValue=true&viewType=TABLE&areaType=BZN&atch=false&dateTime.dateTime=27.10.2022+00:00|CET|DAY&biddingZone.values=CTY|10YSE-1--------K!BZN|10Y1001A1001A46L&resolution.values=PT60M&dateTime.timezone=CET_CEST&dateTime.timezone_input=CET+(UTC+1)+/+CEST+(UTC+2)#).\r\n\r\n## endpoint\r\n\r\nProduction:\r\n\r\n    https://web-api.tp.entsoe.eu/api\r\n\r\nIOP ( For testing purpose only):\r\n\r\n    https://web-api.tp-iop.entsoe.eu/api\r\n\r\n## securityToken\r\n\r\nYour personal generated securityToken, see [authentication](https://transparency.entsoe.eu/content/static_content/Static%20content/web%20api/Guide.html#_authentication_and_authorisation).\r\n\r\n## domain\r\n\r\nChoose a region code from [areas](https://transparency.entsoe.eu/content/static_content/Static%20content/web%20api/Guide.html#_areas).",
        "category": "smart home",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "7b455b2d6ef8e6bd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 40,
                "wires": [
                    {
                        "id": "badbb07ab44229dc",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "endpoint",
                "type": "str",
                "value": "https://web-api.tp.entsoe.eu/api",
                "ui": {
                    "icon": "font-awesome/fa-database",
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "securityToken",
                "type": "cred",
                "ui": {
                    "icon": "font-awesome/fa-user-secret",
                    "type": "input",
                    "opts": {
                        "types": [
                            "env",
                            "cred"
                        ]
                    }
                }
            },
            {
                "name": "domain",
                "type": "str",
                "value": "10Y1001A1001A46L",
                "ui": {
                    "icon": "font-awesome/fa-flag",
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            }
        ],
        "meta": {
            "module": "entso-e",
            "version": "1.0.0",
            "desc": "Fetches day-ahead prices from entsoe.eu",
            "license": "MIT"
        },
        "color": "#E9967A",
        "icon": "font-awesome/fa-line-chart"
    },
    {
        "id": "e74bea31.796858",
        "type": "ui_group",
        "name": "Hem",
        "tab": "8a4b7d57.59ad8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8a4b7d57.59ad8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "33c57f08.23c29",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a4d69f5b.c8b3b",
        "type": "alexa-smart-home-v3-conf",
        "username": "per4563",
        "mqttserver": "mq-red.cb-net.co.uk",
        "webapiurl": "red.cb-net.co.uk",
        "contextName": "memory"
    },
    {
        "id": "575ff406.b304bc",
        "type": "ui_group",
        "name": "Climate",
        "tab": "8deeae84.daea6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5269a148.9a1bd",
        "type": "mqtt-broker",
        "name": "Hem",
        "broker": "192.168.1.59",
        "port": "1883",
        "clientid": "Node-RED-hem",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8deeae84.daea6",
        "type": "ui_tab",
        "name": "Climate",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dd6430ace9ecb19c",
        "type": "http request",
        "z": "b9647c4eba6ade67",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 40,
        "wires": [
            [
                "36468ee7556139fc"
            ]
        ]
    },
    {
        "id": "7b455b2d6ef8e6bd",
        "type": "change",
        "z": "b9647c4eba6ade67",
        "name": "setup",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "endpoint",
                "tot": "env",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.securityToken",
                "pt": "msg",
                "to": "securityToken",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.documentType",
                "pt": "msg",
                "to": "A44",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.in_Domain",
                "pt": "msg",
                "to": "domain",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.out_Domain",
                "pt": "msg",
                "to": "domain",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.periodStart",
                "pt": "msg",
                "to": "$now('[Y][M][D][H]00')\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.periodEnd",
                "pt": "msg",
                "to": "($millis() + 1000 * 60 * 60 * 24) ~> $fromMillis('[Y][M][D][H]00')\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "dd6430ace9ecb19c"
            ]
        ]
    },
    {
        "id": "36468ee7556139fc",
        "type": "xml",
        "z": "b9647c4eba6ade67",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 490,
        "y": 40,
        "wires": [
            [
                "badbb07ab44229dc"
            ]
        ]
    },
    {
        "id": "badbb07ab44229dc",
        "type": "change",
        "z": "b9647c4eba6ade67",
        "name": "extract",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "$.payload.Publication_MarketDocument.TimeSeries[0].Period[0].timeInterval[0].start[0] ~> $toMillis(\"[Y]-[M]-[D]T[H]:[m]Z\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Publication_MarketDocument.TimeSeries.Period[0].Point.\"price.amount\"[0].$number()\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "51498480.d6e76c",
        "type": "alexa-smart-home-v3",
        "z": "2a44cced.04dc14",
        "conf": "a4d69f5b.c8b3b",
        "device": "26434",
        "acknowledge": true,
        "name": "Entré",
        "topic": "Entré",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "c32e3de9.8ba4d"
            ]
        ]
    },
    {
        "id": "8761a5a7.a44738",
        "type": "alexa-smart-home-v3",
        "z": "2a44cced.04dc14",
        "conf": "a4d69f5b.c8b3b",
        "device": "26477",
        "acknowledge": true,
        "name": "Gångväg",
        "topic": "Gångväg",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "c32e3de9.8ba4d"
            ]
        ]
    },
    {
        "id": "bcbaf7f2.04d5a8",
        "type": "trigger",
        "z": "2a44cced.04dc14",
        "name": "Delay false",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "true",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "b2227d1d.d5373"
            ]
        ]
    },
    {
        "id": "2306aed5.9ccdd2",
        "type": "rbe",
        "z": "2a44cced.04dc14",
        "name": "Changes",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 480,
        "y": 440,
        "wires": [
            [
                "bcbaf7f2.04d5a8",
                "dfc05d55.bf127"
            ]
        ]
    },
    {
        "id": "dfc05d55.bf127",
        "type": "switch",
        "z": "2a44cced.04dc14",
        "name": "true",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 420,
        "wires": [
            [
                "b2227d1d.d5373"
            ]
        ],
        "inputLabels": [
            "ON/OFF"
        ],
        "outputLabels": [
            "ON"
        ]
    },
    {
        "id": "b2227d1d.d5373",
        "type": "ui_switch",
        "z": "2a44cced.04dc14",
        "name": "",
        "label": "Alert",
        "tooltip": "",
        "group": "e74bea31.796858",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "alert",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 790,
        "y": 420,
        "wires": [
            [
                "207b3ea7.6396a2"
            ]
        ]
    },
    {
        "id": "827fe14d.8e0f1",
        "type": "suncron",
        "z": "2a44cced.04dc14",
        "name": "Sun down",
        "lat": "59.499335",
        "lon": "18.085157",
        "replay": true,
        "ejectScheduleOnUpdate": false,
        "sunrisePayload": "false",
        "sunrisePayloadType": "bool",
        "sunriseTopic": "sun",
        "sunriseOffsetType": 1,
        "sunriseOffsetHours": 0,
        "sunriseOffsetMinutes": 0,
        "sunriseOffset": 0,
        "sunriseEndPayload": "",
        "sunriseEndPayloadType": "str",
        "sunriseEndTopic": "",
        "sunriseEndOffsetType": 1,
        "sunriseEndOffsetHours": 0,
        "sunriseEndOffsetMinutes": 0,
        "sunriseEndOffset": 0,
        "goldenHourEndPayload": "",
        "goldenHourEndPayloadType": "str",
        "goldenHourEndTopic": "",
        "goldenHourEndOffsetType": 1,
        "goldenHourEndOffsetHours": 0,
        "goldenHourEndOffsetMinutes": 0,
        "goldenHourEndOffset": 0,
        "solarNoonPayload": "",
        "solarNoonPayloadType": "str",
        "solarNoonTopic": "",
        "solarNoonOffsetType": 1,
        "solarNoonOffsetHours": 0,
        "solarNoonOffsetMinutes": 0,
        "solarNoonOffset": 0,
        "goldenHourPayload": "",
        "goldenHourPayloadType": "str",
        "goldenHourTopic": "",
        "goldenHourOffsetType": 1,
        "goldenHourOffsetHours": 0,
        "goldenHourOffsetMinutes": 0,
        "goldenHourOffset": 0,
        "sunsetStartPayload": "",
        "sunsetStartPayloadType": "str",
        "sunsetStartTopic": "",
        "sunsetStartOffsetType": 1,
        "sunsetStartOffsetHours": 0,
        "sunsetStartOffsetMinutes": 0,
        "sunsetStartOffset": 0,
        "sunsetPayload": "true",
        "sunsetPayloadType": "bool",
        "sunsetTopic": "sun",
        "sunsetOffsetType": 1,
        "sunsetOffsetHours": 0,
        "sunsetOffsetMinutes": 0,
        "sunsetOffset": 0,
        "duskPayload": "",
        "duskPayloadType": "str",
        "duskTopic": "",
        "duskOffsetType": 1,
        "duskOffsetHours": 0,
        "duskOffsetMinutes": 0,
        "duskOffset": 0,
        "nauticalDuskPayload": "",
        "nauticalDuskPayloadType": "str",
        "nauticalDuskTopic": "",
        "nauticalDuskOffsetType": 1,
        "nauticalDuskOffsetHours": 0,
        "nauticalDuskOffsetMinutes": 0,
        "nauticalDuskOffset": 0,
        "nightPayload": "",
        "nightPayloadType": "str",
        "nightTopic": "",
        "nightOffsetType": 1,
        "nightOffsetHours": 0,
        "nightOffsetMinutes": 0,
        "nightOffset": 0,
        "nadirPayload": "",
        "nadirPayloadType": "str",
        "nadirTopic": "",
        "nadirOffsetType": 1,
        "nadirOffsetHours": 0,
        "nadirOffsetMinutes": 0,
        "nadirOffset": 0,
        "nightEndPayload": "",
        "nightEndPayloadType": "str",
        "nightEndTopic": "",
        "nightEndOffsetType": 1,
        "nightEndOffsetHours": 0,
        "nightEndOffsetMinutes": 0,
        "nightEndOffset": 0,
        "nauticalDawnPayload": "",
        "nauticalDawnPayloadType": "str",
        "nauticalDawnTopic": "",
        "nauticalDawnOffsetType": 1,
        "nauticalDawnOffsetHours": 0,
        "nauticalDawnOffsetMinutes": 0,
        "nauticalDawnOffset": 0,
        "dawnPayload": "",
        "dawnPayloadType": "str",
        "dawnTopic": "",
        "dawnOffsetType": 1,
        "dawnOffsetHours": 0,
        "dawnOffsetMinutes": 0,
        "dawnOffset": 0,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "255831bb.8e608e"
            ]
        ]
    },
    {
        "id": "e745def0.46955",
        "type": "switch",
        "z": "2a44cced.04dc14",
        "name": "alert?",
        "property": "payload.alert",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 140,
        "wires": [
            [
                "8d1ecdb0.79a05"
            ],
            [
                "ea61615.efd83a"
            ]
        ],
        "outputLabels": [
            "1",
            "0"
        ]
    },
    {
        "id": "ef04c2fa.48efb",
        "type": "switch",
        "z": "2a44cced.04dc14",
        "name": "sunDown?",
        "property": "payload.sunDown",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "ebf6b246.a1bf3"
            ],
            [
                "ea61615.efd83a"
            ]
        ],
        "outputLabels": [
            "1",
            "0"
        ]
    },
    {
        "id": "ebf6b246.a1bf3",
        "type": "switch",
        "z": "2a44cced.04dc14",
        "name": "awake?",
        "property": "payload.awake",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "8d1ecdb0.79a05"
            ],
            [
                "e745def0.46955"
            ]
        ],
        "outputLabels": [
            "1",
            "0"
        ]
    },
    {
        "id": "b0dcd480.d4bc28",
        "type": "mqtt out",
        "z": "2a44cced.04dc14",
        "name": "Lights",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "broker": "5269a148.9a1bd",
        "x": 1230,
        "y": 220,
        "wires": []
    },
    {
        "id": "8d1ecdb0.79a05",
        "type": "change",
        "z": "2a44cced.04dc14",
        "name": "ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "ab5196b4.fbb028"
            ]
        ]
    },
    {
        "id": "ea61615.efd83a",
        "type": "change",
        "z": "2a44cced.04dc14",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "ab5196b4.fbb028"
            ]
        ]
    },
    {
        "id": "180db7db.93f668",
        "type": "rbe",
        "z": "2a44cced.04dc14",
        "name": "Change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 1040,
        "y": 100,
        "wires": [
            [
                "7f07f071.c8dbc"
            ]
        ]
    },
    {
        "id": "255831bb.8e608e",
        "type": "ui_switch",
        "z": "2a44cced.04dc14",
        "name": "",
        "label": "Sun down",
        "tooltip": "",
        "group": "e74bea31.796858",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "sunDown",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 800,
        "y": 360,
        "wires": [
            [
                "207b3ea7.6396a2"
            ]
        ]
    },
    {
        "id": "d5c0f1d7.1a426",
        "type": "alexa-smart-home-v3",
        "z": "2a44cced.04dc14",
        "conf": "a4d69f5b.c8b3b",
        "device": "26479",
        "acknowledge": true,
        "name": "Garageuppfart",
        "topic": "Garageuppfart",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "c32e3de9.8ba4d"
            ]
        ]
    },
    {
        "id": "90fd2dcf.ae451",
        "type": "alexa-smart-home-v3",
        "z": "2a44cced.04dc14",
        "conf": "a4d69f5b.c8b3b",
        "device": "26478",
        "acknowledge": true,
        "name": "Veranda",
        "topic": "Veranda",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "c32e3de9.8ba4d"
            ]
        ]
    },
    {
        "id": "56b3627f.5d6b9c",
        "type": "ui_dropdown",
        "z": "2a44cced.04dc14",
        "name": "",
        "label": "Active cameras",
        "tooltip": "",
        "place": "-",
        "group": "e74bea31.796858",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "",
                "value": "Entré",
                "type": "str"
            },
            {
                "label": "",
                "value": "Gångväg",
                "type": "str"
            },
            {
                "label": "",
                "value": "Garageuppfart",
                "type": "str"
            },
            {
                "label": "",
                "value": "Veranda",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 640,
        "y": 540,
        "wires": [
            [
                "3a79feba.e470e2"
            ]
        ]
    },
    {
        "id": "c32e3de9.8ba4d",
        "type": "join",
        "z": "2a44cced.04dc14",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "new Set()",
        "reduceInitType": "jsonata",
        "reduceFixup": "",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "32d6cf0e.d3e99"
            ]
        ]
    },
    {
        "id": "32d6cf0e.d3e99",
        "type": "change",
        "z": "2a44cced.04dc14",
        "name": "ON Array",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[payload.$sift(function($x) {$x=\"ON\"}).$keys()]",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 540,
        "wires": [
            [
                "56b3627f.5d6b9c"
            ]
        ]
    },
    {
        "id": "3a79feba.e470e2",
        "type": "change",
        "z": "2a44cced.04dc14",
        "name": "Non-empty",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$count(payload) != 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 540,
        "wires": [
            [
                "38516567.55744a"
            ]
        ]
    },
    {
        "id": "38516567.55744a",
        "type": "ui_switch",
        "z": "2a44cced.04dc14",
        "name": "",
        "label": "Any camera active",
        "tooltip": "",
        "group": "e74bea31.796858",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "active",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 990,
        "y": 540,
        "wires": [
            [
                "2306aed5.9ccdd2"
            ]
        ]
    },
    {
        "id": "b92ff9a8.2cbff8",
        "type": "change",
        "z": "2a44cced.04dc14",
        "name": "Nedervåning ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "111110001111011101101100,212322123222221322222222222132212,10011000111100011111101011010011",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 680,
        "wires": [
            [
                "87a8a6ce.acf318"
            ]
        ]
    },
    {
        "id": "87a8a6ce.acf318",
        "type": "mqtt out",
        "z": "2a44cced.04dc14",
        "name": "Cleverio",
        "topic": "radio/tx/Cleverio",
        "qos": "0",
        "retain": "false",
        "broker": "5269a148.9a1bd",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "1eb6fa2a.704966",
        "type": "ui_switch",
        "z": "2a44cced.04dc14",
        "name": "",
        "label": "Nedervåning",
        "tooltip": "",
        "group": "e74bea31.796858",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "38e45be0.a36024"
            ]
        ],
        "icon": "font-awesome/fa-lightbulb-o"
    },
    {
        "id": "38e45be0.a36024",
        "type": "switch",
        "z": "2a44cced.04dc14",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "b92ff9a8.2cbff8"
            ],
            [
                "d690a573.206088"
            ]
        ]
    },
    {
        "id": "d690a573.206088",
        "type": "change",
        "z": "2a44cced.04dc14",
        "name": "Nedervåning OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "111101010001011010001100,212322123222221322222222222222212,11100000101000001001100010010011 Jan 09 21:50:58 pi4 python[29411]: INFO:on_mqtt_message:Sending Cleverio 111110001111011101101100,212322123222221322222222222132212,10011000111100011111101011010011",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 720,
        "wires": [
            [
                "87a8a6ce.acf318"
            ]
        ]
    },
    {
        "id": "cd8c8dad.28c08",
        "type": "change",
        "z": "2a44cced.04dc14",
        "name": "Övervåning ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "111100111000110000110101,212322123222221322222222222132131,10000001111110111111110011010101",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 780,
        "wires": [
            [
                "aa85142.50bd6e8"
            ]
        ]
    },
    {
        "id": "aa85142.50bd6e8",
        "type": "mqtt out",
        "z": "2a44cced.04dc14",
        "name": "Cleverio",
        "topic": "radio/tx/Cleverio",
        "qos": "0",
        "retain": "false",
        "broker": "5269a148.9a1bd",
        "x": 600,
        "y": 800,
        "wires": []
    },
    {
        "id": "f098fe6f.87e92",
        "type": "ui_switch",
        "z": "2a44cced.04dc14",
        "name": "",
        "label": "Övervåning",
        "tooltip": "",
        "group": "e74bea31.796858",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "aeeebcaa.0dee8"
            ]
        ],
        "icon": "font-awesome/fa-lightbulb-o"
    },
    {
        "id": "aeeebcaa.0dee8",
        "type": "switch",
        "z": "2a44cced.04dc14",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 800,
        "wires": [
            [
                "cd8c8dad.28c08"
            ],
            [
                "6e126061.5a09"
            ]
        ]
    },
    {
        "id": "6e126061.5a09",
        "type": "change",
        "z": "2a44cced.04dc14",
        "name": "Övervåning OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "111100001100000101000101,212322123222221322222222222222131,11111000010011110110111110010101",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 820,
        "wires": [
            [
                "aa85142.50bd6e8"
            ]
        ]
    },
    {
        "id": "ab5196b4.fbb028",
        "type": "ui_switch",
        "z": "2a44cced.04dc14",
        "name": "",
        "label": "Outdoor lights",
        "tooltip": "",
        "group": "e74bea31.796858",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "mqtt_message",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 880,
        "y": 100,
        "wires": [
            [
                "180db7db.93f668"
            ]
        ],
        "icon": "font-awesome/fa-lightbulb-o"
    },
    {
        "id": "79c6cfaf.7a486",
        "type": "ui_time_scheduler",
        "z": "2a44cced.04dc14",
        "group": "e74bea31.796858",
        "name": "Sleep schedule",
        "startDay": "1",
        "refresh": 60,
        "devices": [
            "Awake"
        ],
        "customPayload": false,
        "eventMode": true,
        "sendTopic": false,
        "outputs": 2,
        "order": 6,
        "width": 0,
        "height": 0,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "e8a7baf4.56ea18"
            ],
            [
                "91bae9b9.6900e8"
            ]
        ]
    },
    {
        "id": "e8a7baf4.56ea18",
        "type": "file",
        "z": "2a44cced.04dc14",
        "name": "",
        "filename": "sleep_schedule.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e26f4e67.433ad",
        "type": "file in",
        "z": "2a44cced.04dc14",
        "name": "",
        "filename": "sleep_schedule.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "79c6cfaf.7a486"
            ]
        ]
    },
    {
        "id": "207b3ea7.6396a2",
        "type": "join",
        "z": "2a44cced.04dc14",
        "name": "{topic: payload}",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1060,
        "y": 300,
        "wires": [
            [
                "ef04c2fa.48efb"
            ]
        ]
    },
    {
        "id": "91bae9b9.6900e8",
        "type": "ui_switch",
        "z": "2a44cced.04dc14",
        "name": "",
        "label": "Awake",
        "tooltip": "",
        "group": "e74bea31.796858",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "awake",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 790,
        "y": 300,
        "wires": [
            [
                "207b3ea7.6396a2"
            ]
        ]
    },
    {
        "id": "e49a6ba9.4d31d8",
        "type": "inject",
        "z": "2a44cced.04dc14",
        "name": "Load schedule",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "e26f4e67.433ad"
            ]
        ]
    },
    {
        "id": "21aae0bb.080e3",
        "type": "inject",
        "z": "2a44cced.04dc14",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "b2227d1d.d5373",
                "255831bb.8e608e",
                "91bae9b9.6900e8"
            ]
        ]
    },
    {
        "id": "b14d8b42.bbe1d8",
        "type": "ui_dropdown",
        "z": "2a44cced.04dc14",
        "name": "",
        "label": "Lights",
        "tooltip": "Which lights to control",
        "place": "",
        "group": "e74bea31.796858",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "",
                "value": "plug",
                "type": "str"
            },
            {
                "label": "",
                "value": "veranda",
                "type": "str"
            },
            {
                "label": "",
                "value": "framsida",
                "type": "str"
            },
            {
                "label": "",
                "value": "groventre",
                "type": "str"
            },
            {
                "label": "",
                "value": "tvattstuga",
                "type": "str"
            },
            {
                "label": "",
                "value": "garage-bel",
                "type": "str"
            },
            {
                "label": "",
                "value": "garage-uttag",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "lights",
        "x": 610,
        "y": 40,
        "wires": [
            [
                "4bbc279b.b06cf8"
            ]
        ]
    },
    {
        "id": "9a8b89cc.c41e38",
        "type": "inject",
        "z": "2a44cced.04dc14",
        "name": "Load lights",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "df762578.a29a68"
            ]
        ]
    },
    {
        "id": "2b0154c7.f15e9c",
        "type": "split",
        "z": "2a44cced.04dc14",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1090,
        "y": 160,
        "wires": [
            [
                "940e0ea1.817ba"
            ]
        ]
    },
    {
        "id": "940e0ea1.817ba",
        "type": "change",
        "z": "2a44cced.04dc14",
        "name": "set topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "$join([\"cmnd\", payload, \"POWER\"], \"/\")",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "mqtt_message",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 160,
        "wires": [
            [
                "b0dcd480.d4bc28"
            ]
        ]
    },
    {
        "id": "4bbc279b.b06cf8",
        "type": "file",
        "z": "2a44cced.04dc14",
        "name": "",
        "filename": "controlled_lights.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 780,
        "y": 40,
        "wires": [
            [
                "7f07f071.c8dbc"
            ]
        ]
    },
    {
        "id": "df762578.a29a68",
        "type": "file in",
        "z": "2a44cced.04dc14",
        "name": "",
        "filename": "controlled_lights.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "d015a3a3.b721"
            ]
        ]
    },
    {
        "id": "7f07f071.c8dbc",
        "type": "join",
        "z": "2a44cced.04dc14",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1190,
        "y": 80,
        "wires": [
            [
                "46325a39.dc2894"
            ]
        ]
    },
    {
        "id": "d015a3a3.b721",
        "type": "json",
        "z": "2a44cced.04dc14",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 40,
        "wires": [
            [
                "b14d8b42.bbe1d8"
            ]
        ]
    },
    {
        "id": "46325a39.dc2894",
        "type": "change",
        "z": "2a44cced.04dc14",
        "name": "unpack lights",
        "rules": [
            {
                "t": "move",
                "p": "payload.mqtt_message",
                "pt": "msg",
                "to": "mqtt_message",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.lights",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 160,
        "wires": [
            [
                "2b0154c7.f15e9c"
            ]
        ]
    },
    {
        "id": "a36e30a7.a00d8",
        "type": "debug",
        "z": "c208375a.5070e8",
        "name": "Nibe",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 600,
        "wires": []
    },
    {
        "id": "8ff73cdf.9d592",
        "type": "mqtt out",
        "z": "c208375a.5070e8",
        "name": "Request",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5269a148.9a1bd",
        "x": 1100,
        "y": 440,
        "wires": []
    },
    {
        "id": "ecd023e5.c8c6d",
        "type": "mqtt in",
        "z": "c208375a.5070e8",
        "name": "",
        "topic": "nibe/res/#",
        "qos": "2",
        "datatype": "json",
        "broker": "5269a148.9a1bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "a36e30a7.a00d8"
            ]
        ]
    },
    {
        "id": "9896f3fe.2bdf6",
        "type": "ui_dropdown",
        "z": "c208375a.5070e8",
        "name": "",
        "label": "HW comfort",
        "tooltip": "",
        "place": "Select mode",
        "group": "575ff406.b304bc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "ECONOMY",
                "type": "str"
            },
            {
                "label": "",
                "value": "NORMAL",
                "type": "str"
            },
            {
                "label": "",
                "value": "LUXURY",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "nibe/req/hot-water-comfort-mode-47041",
        "topicType": "str",
        "className": "",
        "x": 710,
        "y": 480,
        "wires": [
            [
                "feebe97972be8a4c"
            ]
        ]
    },
    {
        "id": "9ac15de542669da2",
        "type": "debug",
        "z": "c208375a.5070e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "19fcd76654092d74",
        "type": "ui_chart",
        "z": "c208375a.5070e8",
        "name": "",
        "group": "575ff406.b304bc",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Controll",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1410e6cac9159e0a",
        "type": "nordpool-api",
        "z": "c208375a.5070e8",
        "area": "SE3",
        "currency": "SEK",
        "timeSpan": "hourly",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "8d107d2afb6f87e4"
            ]
        ]
    },
    {
        "id": "2840a592bdecb9e2",
        "type": "ui_chart",
        "z": "c208375a.5070e8",
        "name": "Strategy",
        "group": "575ff406.b304bc",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Strategy",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "81d3dc3321fa6540",
        "type": "function",
        "z": "c208375a.5070e8",
        "name": "Adapt to price",
        "func": "const LOOK_AHEAD = 10;\n\nfunction sum(y, x) {\n    return y + x;\n}\n\nfunction add_hours(date, hours) {\n    return new Date(\n        date.getFullYear(),\n        date.getMonth(),\n        date.getDate(),\n        date.getHours() + hours\n    );\n}\n\nfunction date_id(date) {\n    return [\n        date.getFullYear(),\n        date.getMonth() + 1,\n        date.getDate(),\n        date.getHours()\n    ];\n}\n\nconst trigger = add_hours(new Date(), 0);\n\nconst by_date = {};\nfor (const item of flow.get(\"nordpool\")) {\n    by_date[date_id(new Date(item.Timestamp))] = item.Price / 1000;\n}\n\nconst prices = [];\nfor (let i = 0; i < LOOK_AHEAD; i++) {\n    const id = date_id(add_hours(trigger, i));\n    if (id in by_date) {\n        prices[i] = by_date[id];\n    }\n}\n\nlet heating_cum_last;\nconst heating_cum_old = context.get(\"heating_cum\");\nif (heating_cum_old) {\n    heating_cum_last = heating_cum_old[date_id(add_hours(trigger, -1))] || 0;\n} else {\n    heating_cum_last = 0;\n}\n\nconst decrement_price = flow.get(\"decrement_price\") || 1.0;\n\nlet heating = prices.map((p) => {return p * -1 / decrement_price});\n\nconst heating_cum = heating.reduce(sum, heating_cum_last);\n\nheating = heating.map(h => {\n    return h - heating_cum / heating.length;\n});\n\nconst heating_now = Math.round(heating[0]);\nconst heating_cum_now = heating_cum_last + heating_now;\nlet heating_cum_new = {};\nheating_cum_new[date_id(add_hours(trigger, -1))] = heating_cum_last;\nheating_cum_new[date_id(trigger)] = heating_cum_now;\n\ncontext.set(\"heating_cum\", heating_cum_new);\n\nnode.warn({\n    heating: heating,\n    prices: prices,\n    heating_now: heating_now\n});\n\nmessages = [];\n\nconst timestamp = trigger.getTime();\n\nmessages[0] = {\n    topic: \"price\",\n    timestamp: timestamp,\n    payload: prices[0]\n};\n\nmessages[1] = {\n    topic: \"heating\",\n    timestamp: timestamp,\n    payload: heating_now\n};\n\nmessages[2] = {\n    topic: \"strategy\",\n    payload: [{\n        \"series\": [\"price\", \"heating\"],\n        \"data\": [\n            prices.map((p, i) => {\n                return {\n                    x: add_hours(trigger, i).getTime(),\n                    y: p\n                };\n            }),\n            heating.map((h, i) => {\n                return {\n                    x: add_hours(trigger, i).getTime(),\n                    y: h\n                };\n            })\n        ],\n        \"labels\": [\"\"]\n    }]\n};\n\nreturn messages;\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "9ac15de542669da2",
                "19fcd76654092d74"
            ],
            [
                "9ac15de542669da2",
                "19fcd76654092d74",
                "304da7438b100a1e"
            ],
            [
                "2840a592bdecb9e2"
            ]
        ],
        "outputLabels": [
            "price",
            "heating",
            "strategy chart"
        ]
    },
    {
        "id": "e1b36eaed74f4c08",
        "type": "cronplus",
        "z": "c208375a.5070e8",
        "name": "",
        "outputField": "cron",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "Hourly update",
                "topic": "hours",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 120,
        "y": 280,
        "wires": [
            [
                "81d3dc3321fa6540"
            ]
        ]
    },
    {
        "id": "d741a0dec42a57a6",
        "type": "inject",
        "z": "c208375a.5070e8",
        "name": "At 14:50",
        "props": [],
        "repeat": "",
        "crontab": "50 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "1410e6cac9159e0a"
            ]
        ]
    },
    {
        "id": "8d107d2afb6f87e4",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "nordpool",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b0d7b798e4675910",
        "type": "ui_slider",
        "z": "c208375a.5070e8",
        "name": "",
        "label": "Decrement price",
        "tooltip": "",
        "group": "575ff406.b304bc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decrement_price",
        "topicType": "str",
        "min": "0.2",
        "max": "2",
        "step": "0.1",
        "className": "",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "c5b8db39c10d1e36"
            ]
        ]
    },
    {
        "id": "c5b8db39c10d1e36",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "decrement_price",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "81d3dc3321fa6540"
            ]
        ]
    },
    {
        "id": "01b63d07449909ad",
        "type": "inject",
        "z": "c208375a.5070e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "decrement_price",
        "payloadType": "flow",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "b0d7b798e4675910"
            ]
        ]
    },
    {
        "id": "304da7438b100a1e",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "nibe/req/heat-offset-s1-47011",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "nibe/req/heat-offset-s1-47011",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload + $flowContext(\"heating_offset\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 340,
        "wires": [
            [
                "8ff73cdf.9d592",
                "618cc61d016ba359"
            ]
        ]
    },
    {
        "id": "9e62c82103ac3fda",
        "type": "ui_slider",
        "z": "c208375a.5070e8",
        "name": "",
        "label": "Heating offset",
        "tooltip": "",
        "group": "575ff406.b304bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "offset",
        "topicType": "str",
        "min": "-5",
        "max": "5",
        "step": 1,
        "className": "",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "c4d3a8945d32a938"
            ]
        ]
    },
    {
        "id": "618cc61d016ba359",
        "type": "debug",
        "z": "c208375a.5070e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "c4d3a8945d32a938",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "heating_offset",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "81d3dc3321fa6540"
            ]
        ]
    },
    {
        "id": "41af33a06e32f231",
        "type": "inject",
        "z": "c208375a.5070e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "heating_offset",
        "payloadType": "flow",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "9e62c82103ac3fda"
            ]
        ]
    },
    {
        "id": "412f64e445aacf73",
        "type": "delay",
        "z": "c208375a.5070e8",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 1030,
        "y": 860,
        "wires": [
            [
                "6250d942df73e5a3",
                "feea9517b84ec976"
            ],
            [
                "2dff430d518682bd"
            ]
        ]
    },
    {
        "id": "6250d942df73e5a3",
        "type": "ui_chart",
        "z": "c208375a.5070e8",
        "name": "",
        "group": "575ff406.b304bc",
        "order": 10,
        "width": "6",
        "height": "12",
        "label": "Status",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "4000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "feea9517b84ec976",
        "type": "debug",
        "z": "c208375a.5070e8",
        "name": "Rate-limited",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 920,
        "wires": []
    },
    {
        "id": "c29ad92cb95ae4f1",
        "type": "inject",
        "z": "c208375a.5070e8",
        "name": "Clear",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 1230,
        "y": 800,
        "wires": [
            [
                "6250d942df73e5a3"
            ]
        ]
    },
    {
        "id": "2dff430d518682bd",
        "type": "debug",
        "z": "c208375a.5070e8",
        "name": "Discarded",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 960,
        "wires": []
    },
    {
        "id": "accf4fe82654bbd3",
        "type": "mqtt in",
        "z": "c208375a.5070e8",
        "name": "",
        "topic": "nibe/data",
        "qos": "0",
        "datatype": "json",
        "broker": "5269a148.9a1bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 700,
        "wires": [
            [
                "a36e30a7.a00d8",
                "b370755b1ae280b8"
            ]
        ]
    },
    {
        "id": "2f699fc96b43eef4",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "outdoor",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "outdoor",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.bt1-outdoor-temperature-40004",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "f1fff87cc9a5757c",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "compressor",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "compressor",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.cpr-status-ep14-43435",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "8a2843e4207773fe",
        "type": "debug",
        "z": "c208375a.5070e8",
        "name": "data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 960,
        "wires": []
    },
    {
        "id": "f08eb5d288fbbc81",
        "type": "inject",
        "z": "c208375a.5070e8",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "nibe/data",
        "payload": "{\"cpr-status-ep14-43435\":\"ON\",\"bt1-outdoor-temperature-40004\":12.4,\"hot-water-comfort-mode-47041\":\"ECONOMY\"}",
        "payloadType": "json",
        "x": 130,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "672a8bda3bb16430",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "HW mode & int",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HW mode",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.hot-water-comfort-mode-47041",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ECONOMY",
                "fromt": "str",
                "to": "-1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "NORMAL",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "LUXURY",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 660,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "b370755b1ae280b8",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "split",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 800,
        "wires": [
            [
                "f1fff87cc9a5757c",
                "2f699fc96b43eef4",
                "672a8bda3bb16430",
                "67a5ae67ce37e5c4",
                "975c4e7480c6a323",
                "0d7e7979639b5277",
                "dc4308e8574944ef",
                "8166ee39e706d80c",
                "729d7caa792c315d",
                "720670f541b945cf",
                "9e50a8848b61173a",
                "72d450711325e12a",
                "f3b0db4934269a38",
                "0fff9a790ef8acb1",
                "b5a2201413cb25e2",
                "5306798f05df7cb3"
            ]
        ]
    },
    {
        "id": "9287758c48e9025f",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "join",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 860,
        "wires": [
            [
                "412f64e445aacf73",
                "8a2843e4207773fe"
            ]
        ]
    },
    {
        "id": "67a5ae67ce37e5c4",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "exhaust",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "exhaust",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.bt20-exhaust-air-temp-1-40025",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 700,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "975c4e7480c6a323",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "heater",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heater",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.int-el-add-power-43084",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 740,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "0d7e7979639b5277",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "HW mode",
        "rules": [
            {
                "t": "move",
                "p": "payload.hot-water-comfort-mode-47041",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "9896f3fe.2bdf6"
            ]
        ]
    },
    {
        "id": "dc4308e8574944ef",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "target",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "target",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.calc-supply-s1-43009",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 780,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "8166ee39e706d80c",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "supply",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "supply",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.bt2-supply-temp-s1-40008",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 820,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "729d7caa792c315d",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "return",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "return",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.eb100-ep14-bt3-return-temp-40012",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 860,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "720670f541b945cf",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "HW temp",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HW temp",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.bt7-hw-top-40013",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 900,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "9e50a8848b61173a",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "HW load",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HW load",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.bt6-hw-load-40014",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 940,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "72d450711325e12a",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "prio & int",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "prio",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.prio-43086",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "HOT WATER",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "HEAT",
                "fromt": "str",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "TRANSFER",
                "fromt": "str",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 980,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "feebe97972be8a4c",
        "type": "template",
        "z": "c208375a.5070e8",
        "name": "json string",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"{{payload}}\"",
        "output": "str",
        "x": 870,
        "y": 480,
        "wires": [
            [
                "8ff73cdf.9d592"
            ]
        ]
    },
    {
        "id": "f3b0db4934269a38",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "compressor state & int",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "prio",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.compressor-state-ep14-43427",
                "pt": "msg",
                "to": "compressor state",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "STOPPED",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "STARTING",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "RUNNING",
                "fromt": "str",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "STOPPING",
                "fromt": "str",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1020,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "0fff9a790ef8acb1",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "HW circulation",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HW circulation",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.hwc-pump-status-gp11-43180",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF",
                "fromt": "str",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON",
                "fromt": "str",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1060,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "b5a2201413cb25e2",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "compr temp",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "compr temp",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.eb100-bt18-compressor-temp-40023",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1100,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "5306798f05df7cb3",
        "type": "change",
        "z": "c208375a.5070e8",
        "name": "heater temp",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "heater temp",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload.eb100-bt19-addition-temp-40024",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 1140,
        "wires": [
            [
                "9287758c48e9025f"
            ]
        ]
    },
    {
        "id": "01b9879c351e54a1",
        "type": "subflow:b9647c4eba6ade67",
        "z": "0da30667a1d02274",
        "name": "",
        "env": [
            {
                "name": "securityToken",
                "type": "cred"
            },
            {
                "name": "domain",
                "value": "10Y1001A1001A46L",
                "type": "str"
            }
        ],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "68e036d239fb9bfb"
            ]
        ]
    },
    {
        "id": "68e036d239fb9bfb",
        "type": "debug",
        "z": "0da30667a1d02274",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "0f50f8f9d6b3975a",
        "type": "catch",
        "z": "0da30667a1d02274",
        "name": "",
        "scope": [
            "01b9879c351e54a1"
        ],
        "uncaught": false,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "68e036d239fb9bfb"
            ]
        ]
    },
    {
        "id": "77cb5630b1dc933e",
        "type": "inject",
        "z": "0da30667a1d02274",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "01b9879c351e54a1"
            ]
        ]
    }
]